#banner{
 
    background-image: url("/images/gaming\ picture.jpg");
    background-size: cover;
    height: 100vh;
}
#content{
    padding: 10%;
    display: flex;
    flex-direction: row;
}
#textcontent{
    padding-left: 100px;
}

h1,h2{
    color:red
}